html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.group-toast {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    top:1px;
}
.toast {
    width: 300px;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    z-index: 99999;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: all linear 0.9s;
    animation: slideFromR2L ease 1s, fadeOut linear 1s 3s forwards;
}

@keyframes slideFromR2L {
    from {
        opacity: 0;
        transform: translateX(110%);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
.toast--success{
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #70bd33 ;
    
}

.toast--warning{
    background: #FFE000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #ffb703;background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.toast--danger{
    background-color:#ff623d ;background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.toast--info{
    background-color:#4f3cc9;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.toast--header {
    display: flex;
    align-items: center;
}
.toast--icon{
    display: flex;
    margin-right: 3%;
    flex : 0.3;
    color:#4b4b4b;
    opacity: 0.95;
}
.toast--title{
    display: flex;
    flex:1000;
    font-weight:bold;
    font-size: medium;
    color: #4b4b4b;
}
.toast--close{
    display: flex;
    flex:1;
    cursor: pointer;
    color :#4b4b4b;
    border: 1px ;
    border-radius: 100%;
}

.toast--close:hover {
    opacity: 0.5;
}

.toast--message{
    text-align: center;
    margin-top: 3%;
    color :black;
}